<form action="/answer" data-turbo="false"  class ="ps-4 pe-4">
  <input type="text" name="question"  placeholder="Ask your coach a question" class = "form-control mb-3">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
